<div class="Body">
    <div class="BodyConter">
        {#        tag#}
        <div class="tags">
            {#            数据由后端处理#}
            <div class="border">
                <ul>
                    <li>
                        <div>家电/家电/家电</div>
                        <span class="particulars_data">
                            家电/家电/家电
                        </span>
                    </li>
                    <li>
                        <div>手机/手机/手机</div>
                        <span class="particulars_data">
                            手机/手机/手机
                        </span>
                    </li>
                    <li>
                        <div>电脑/电脑/电脑</div>
                        <span class="particulars_data">
                            电脑/电脑/电脑
                        </span>
                    </li>
                    <li>
                        <div>家具/家具/家具</div>
                        <span class="particulars_data">
                            家具/家具/家具
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        {#        轮播图#}
        <div class="slideshow_images swiper-container">
            <div class="images swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#">
                        <img src="../../statics/indexStatics/images/O1CN01Q3CqoX1ed2VkmCaXF_!!6000000003893-2-octopus.png"
                             width="750" height="400">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="../../statics/indexStatics/images/TB1XotJXQfb_uJkSnhJSuvdDVXa.jpg"
                             width="750" height="400">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="../../statics/indexStatics/images/TB183NQapLM8KJjSZFBSutJHVXa.jpg"
                             width="750" height="400">
                    </a>
                </div>
            </div>
            {#            分页器#}
            <div class="swiper-pagination"></div>

            {#            导航按钮#}
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        {#        广告位#}
        <div class="advertising"></div>

        {#        列出所有的商品#}
        <div class="all_commodity">
            <a href="#">
                <div class="commodity_style_window">
                    {#                    商品图片#}
                    <div class="commodity_image">
                        <img src="../../statics/indexStatics/images/O1CN01WqvyWP1hlgpykTWg0_!!0-saturn_solar.jpg" alt=""
                             width="120"
                             height="120">
                    </div>
                    {#                    商品信息#}
                    <div class="commodity_message">hello world hello world hello world</div>
                    {#                    价格#}
                    <span class="price_style">￥100.0</span>
                </div>
            </a>
            <a href="#">
                <div class="commodity_style_window">
                    {#                    商品图片#}
                    <div class="commodity_image">
                        <img src="../../statics/indexStatics/images/O1CN01YNSYc31hlgq1oJkG8_!!0-saturn_solar.jpg" alt=""
                             width="120"
                             height="120">
                    </div>
                    {#                    商品信息#}
                    <div class="commodity_message">hello world hello world hello world</div>
                    {#                    价格#}
                    <span class="price_style">￥100.0</span>
                </div>
            </a>
        </div>
    </div>
</div>
