* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.background_image {
    background-image: url("../images/235228-1549900348f5ed.jpg");
    background-size: 1920px, 1080px;
    width: 1918px;
    height: 1009px;
    position: relative;
}

.operation {
    position: absolute;
    top: 250px;
    left: 200px;
    width: 300px;
    height: 360px;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
}

/*登录*/
.operation .login {
    width: 250px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.operation .login .loginText {
    font-size: 30px;
    display: inline-block;
    transform: translate(calc(250px / 2 - 50%));
}

.operation .login .phoneNumber > input {
    width: 200px;
    height: 40px;
    border: 1px solid #888888;
    transform: translate(calc(250px / 2 - 50%));
    margin-top: 20px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}

.operation .login .phoneNumber > input:focus {
    outline: none;
}

.operation .login .password > input {
    width: 200px;
    height: 40px;
    border: 1px solid #888888;
    transform: translate(calc(250px / 2 - 50%));
    margin-top: 30px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}

.operation .login .password > input:focus {
    outline: none;
}

.operation .login .voluntarilyLogin {
    margin-left: 20px;
    margin-top: 5px;
    display: inline-block;
}

.operation .login .voluntarilyLogin > input {
    width: 15px;
    height: 15px;
    border: 1px solid #888888;
}

.operation .login .forgetPassword {
    display: inline-block;
    transform: translate(60px);
}

.operation .login .forgetPassword > a {
    color: black;
}

.operation .login .loginKey {
    color: #f4f4f4;
    background-color: #008cff;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    transform: translate(calc(250px / 2 - 50%), 20px);
    cursor: pointer;
}

.operation .login .registerPage {
    text-align: center;
    color: #008cff;
    margin-top: 30px;
}

.operation .login .registerPage > span {
    cursor: pointer;
}

.hoid {
    display: none;
}

/*注册*/
.register {
    box-shadow: 2px 2px 2px black;
    width: 300px;
    height: 435px;
    position: absolute;
    top: 250px;
    left: 200px;
    background-color: white;
    border-radius: 20px;
}

.register .userRegister {
    text-align: center;
    color: black;
    font-size: 30px;
    display: inline-block;
    transform: translate(calc(300px / 2 - 50%), 11px);
}

.dataBox {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    text-align: center;
}

.register .dataBox > input {
    width: 200px;
    height: 40px;
    border: 1px solid #888888;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}

.register .dataBox > input:focus {
    outline: none;
}

.register .registerSubmit {
    color: #f4f4f4;
    background-color: #008cff;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    transform: translate(calc(300px / 2 - 50%), 26px);
    cursor: pointer;
}

.register .loginPage {
    text-align: center;
    color: #008cff;
    margin-top: 33px;
}

.register .loginPage > span {
    cursor: pointer;
}

.return {
    width: 100px;
    height: 100px;
    /*border: 1px solid;*/
    border-radius: 50px;
    transform: translate(200px, 60px);
    display: inline-block;
    background-image: url("../images/20201004003643.png");
    background-size: 100px;
    background-position: 0 3px;
}

/*错误*/
.errortex {
    /*display: inline-block;*/
    position: absolute;
    color: #e1251b;
    top: 315px;
    left: 43px;
}

/*用户不存在*/
.userNone {
    position: absolute;
    color: #e1251b;
    top: 130px;
    left: 43px;
}

/*用户密码错误*/
.userPasswordError {
    position: absolute;
    color: #e1251b;
    top: 202px;
    left: 43px;
}

/*登录样式*/
.You_have_logged_in {
    position: absolute;
    top: 400px;
    left: 200px;
    font-size: 80px;
    z-index: 1;
}

/*文字背景*/
.textBackground {
    position: absolute;
    top: 400px;
    left: 187px;
    width: 350px;
    height: 120px;
    background-color: #f4f4f4;
    opacity: .7;
    border-radius: 20px;
}