{% extends 'page_base/backstage_index_base.html' %}
{% load static %}

{% block external_file %}
    <link href="{% static 'backstageStatics/css/backstage.css' %}" type="text/css" rel="stylesheet">
    <script src="{% static 'publicfiles/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'backstageStatics/js/backstage.js' %}"></script>
{% endblock %}

{% block left_label %}
    {#    删除用户数据的背景#}
    <div class="delete_background" id="delete_background"></div>
    {#    删除确认#}
    <div class="delete_affirm">
        <div class="text_1">
            请确定要删除选中的用户数据
        </div>
        <div class="text_2">
            删除对象:
        </div>
        <div class="delete_class_data">
            <ul></ul>
        </div>
        {#            操作#}
        <div class="operation">
            <div class="delete">确 认 删 除</div>
            <div class="no_delete">不，返回</div>
        </div>
    </div>
    {% include 'page_base/left_navigation_bar.html' %}
{% endblock %}

{% block right_label %}
    {% csrf_token %}
    <div class="navigation">
        {#        首页#}
        <div class="home_page"><a href="{% url 'backstage' %}">首页</a> ›</div>
        <div class="userData_page">UserDataModels</div>
    </div>
    {% if save_user %}
        <div class="show_save_user_text">
            用户:
        </div>
    {% endif %}
    {#    边框#}
    <div class="location_frame">
        {#    显示数据#}
        <ul class="show_data">
            <li style="background-color: #eeeeee;color: #666;font-size: 20px;border-top: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee"
                class="data_title">
                <div style="padding-left: 40px">用户昵称</div>
                <div>用户手机号码</div>
                <div>电子邮箱</div>
                <div>密码</div>
            </li>
            {% for data in userdata %}
                <li class="data" data-userPk="{{ data.pk }}">
                    <input type="checkbox" value="{{ data.pk }}" style="margin-left: 10px; margin-right: 10px">
                    <a href="user_pk/{{ data.pk }}/">
                        <div>{{ data.username }}</div>
                        <div>{{ data.phoneNumber }}</div>
                        <div>{{ data.useremail }}</div>
                        <div>{{ data.userPassword }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>

        {#        添加数据#}
        <a href="{% url 'adduser' %}">
            <div class="add_data">
                添加用户
            </div>
        </a>
        {#        数据操作#}
        <div class="data_select_operation">
            <select>
                <option selected value="0">- - - - - -</option>
                <option value="1">删除所选的数据</option>
            </select>
        </div>
        <div class="execute">
            执行
        </div>
        {#        删除所选的数据错误提示#}
        <div class="delete_user_user_text"></div>
    </div>
{% endblock %}