<div class="left_page">
    {#    管理员信息#}
    <div class="Administrator_message">
        {#        头像#}
        <div class="head_portrait">
            <img src="{{ MEDIA_URL }}{{ user_content.usercontent__portraitImage }}" alt="" width="100" height="100">
        </div>
        {#        问候语#}
        <div class="greetings">
            早安，打工人
        </div>
    </div>
    {#    选择信息管理#}
    <dic class="select_message_Management">
        <ul>
            {% if page == 1 %}
                <a href="{% url 'backstageUserData' %}">
                    <li style="background-color: #888888;">用户数据</li>
                </a>
            {% else %}
                <a href="{% url 'backstageUserData' %}">
                    <li>用户数据</li>
                </a>
            {% endif %}
            {% if page == 2 %}
                <a href="{% url 'showAllShop' %}">
                    <li style="background-color: #888888;">所有商品</li>
                </a>
            {% else %}
                <a href="{% url 'showAllShop' %}">
                    <li>所有商品</li>
                </a>
            {% endif %}
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
        </ul>
    </dic>

    {#    退出管理#}
    <div class="quit_Management">
        退出管理
    </div>
</div>
