{% extends 'baseTemplates/indexBase.html' %}
{% load static %}
{% block externalFile %}
    <link href="{% static 'publicfiles/css/swiper-bundle.css' %}" rel="stylesheet">
    <link href="{% static 'indexStatics/css/index.css' %}" rel="stylesheet">
    <script src="{% static 'publicfiles/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'publicfiles/js/swiper-bundle.js' %}"></script>
    <script src="{% static 'indexStatics/js/index.js' %}" type="text/javascript"></script>
{% endblock %}

{% block head %}
    {% include 'head_template/head.html' %}
{% endblock %}

{% block search %}
    {% include 'search.html' %}
{% endblock %}

{% block body %}
    {% include 'subject.html' %}
{% endblock %}
